.box {
  /* height: 100%;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.card {
  position: relative;
  height: 53vh;
  width: 45vh;
  background: #29282a;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .card {
    height: 40vh;
    width: 40vh;
  }
}

@media screen and (max-width: 520px) {
  .card {
    height: 20vh;
    width: 20vh;
  }
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #29282a;
  transition: 0.5s;
  z-index: -1;
}

.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

.video-card {
  height: 50vh;
  border: 5px solid #000;
  border-radius: 20px;
}

.row_anggota {
  width: 100%;
  padding: 10% 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.row_playlist {
  display: grid;
  padding: 3% 10%;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
}

.card_anggota {
  width: 100%;
  max-width: 400px;
  height: 500px;
  background-color: #777777;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  background-color: #29282a;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card_anggota h2,
p {
  text-align: center;
  color: #fff;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  height: 20px;
}

.ig {
  color: #fff;
}

.nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav_left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_items {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_row {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 100px;
}

.about_card {
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.about_card h1 {
  font-size: 3rem;
}

.about_card h3 {
  font-size: 1.3rem;
}

.card_album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card_album img {
  width: 200px;
  border-radius: 3px;
}

.card_album p {
  color: #222;
  font-size: 2rem;
  background-color: #fff;
  width: 70%;
  text-align: center;
}

.music_album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music_album h1 {
  font-size: 2rem;
  color: #fff;
}

.about_list_album {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
.row_music {
  width: 100%;
  padding: 10% 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card_music {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
}

.suspense_card {
  padding: 1rem;
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
  margin-top: 150px;
}

.suspense_card h1 {
  font-family: dancing script;
}
